<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pulse</title>
        <meta name="author" content="Ishan Gaur, Dean Stratakos, Charles Pan">
    </head>

    <body>
        <h1>Input a string and a target token for sentiment analysis</h1>
        <form action="/measure-pulse" method="post">
            <input name="text" placeholder="Input Text" type="text">
            <input name="target" placeholder="Taget Token" type="text">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
